body, html {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr, 9fr;
}

.content {
    padding: 48px 24px;
    background-color: antiquewhite;
    height: fit-content;
}

form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

form > label {
    font-size: 20px;
}

button {
    padding: 8px 16px;
}

input {
    height: 32px;
    padding: 0 16px;
    min-width: 220px;
}

.loader {
    position: fixed;
    display: none;
    inset: 0;              /* shorthand for top/right/bottom/left: 0 */
    z-index: 9999;
    background-color: rgba(255,255,255,0.6);

    display: none;
    justify-content: center;
    align-items: center;
}


.yes-loader {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: fit-content;
    padding: 24px;
}

.data_cell {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.data_cell.indent {
    flex-direction: column;
    align-items: flex-start;
}

.new_item0,
.new_item1,
.new_item2,
.new_item3 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.new_item0 {
    margin-left: 12px;
}

.new_item1 {
    margin-left: 24px;
}

.new_item2 {
    margin-left: 36px;
}

.new_item3 {
    margin-left: 48px;
}


